body
{
	font-family: 'Montserrat', sans-serif;
	background-image: url("1.jfif");
	background-size: cover;
	background-position: center;
}

hr 
{
  max-width: 100px;
  border-width: 3px;
  border-color: #F05F44; 
  transition: all 1s;
}

hr:hover
{
  max-width: 300px;
  border-width: 3px;
  border-color: #F05F44; 
}

.Title
{
	text-transform: uppercase;
	margin-top: 200px;
	color: rgba(240, 236, 30, 0.9);
	text-align: center;
}

h1:hover
{
	transition: all 1s;
	font-size: 3rem;
}

span
{
	font-style: uppercase;
	font-size: 2.79rem;
	transition: all 1s;
}
span:hover
{
	font-style: uppercase;
	font-size: 3.79rem;
}


.Button
{
	text-align: center;
	margin-top: 100px;
}

.btn 
{
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 300px;
	font-family: 'Montserrat', sans-serif;
	transition: all 1s;
}

.btn-primary
{
	background-color: black;
	border-color: black;
	color: #FFFC74;
	border-width: 5px;

}

.btn-primary:hover
{
	border-width: 10px;
	border-color: rgba(240, 236, 30, 0.9);
	background-color: rgba(240, 236, 30, 0.9);
	color: black;
}

footer
{
	font-size: 0.8rem;
	margin-top: 230px;
	color: rgba(240, 236, 30, 0.6);
	text-align: center;
}